<h1>{{title}}</h1>
<h2>
  {{ content }}
</h2>
<ul>
    <li *ngFor="let animal of animals">
        <span> {{ animal.name }} </span>
        <small> ({{ animal.category }}) </small>
    </li>
</ul>
<app-my-nested3></app-my-nested3>
<p *ngIf="animals.length > 3"> There are many ANIMALS! </p>
<p *ngIf="animals.length < 1"> Extra Condition has been triggered! </p>
<!-- We are testing property Binding here -->
<app-my-property-binding></app-my-property-binding>
<!-- We are testing event Binding here -->
<app-my-event-binding></app-my-event-binding>
<!-- We are testing a mixed Binding here -->
<app-my-mixed-binding></app-my-mixed-binding>
<!-- We are testing a 2-way Binding here -->
<app-my-two-way-binding></app-my-two-way-binding>
<!-- We are testing a an event biding using template variables -->
<app-my-event-binding2></app-my-event-binding2>
